<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%=site_host%>/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <title>Login page</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5 my-5" id="form1">
                    <div>
                        <p class="text-center">Tashkilot username va passwordini kiriting!</p>
                    </div>
                    <div class="form-data">
                        <div class="forms-inputs mb-4 input"> <span>Username</span> <input autocomplete="off" id="login-input" type="text">
                        </div>
                        <div class="forms-inputs mb-4 input"> <span>Password</span> <input autocomplete="off" id="password-input" type="password">
                        </div>
                        <div class="mb-3"> <button id="submit-button" class="btn btn-dark w-100">Login</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const button = document.getElementById("submit-button")
        const loginInput = document.getElementById("login-input")
        const passwordInput = document.getElementById("password-input")

        button.addEventListener("click", async () => {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
            "login": loginInput.value,
            "password": passwordInput.value
            });

            const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
            };

            try {
                let response = await fetch("http://localhost:3000/login", requestOptions)
                if(response.status >= 200 && response.status <= 299) {
                    response = await response.json()

                    if(response.accessToken) {
                        window.localStorage.setItem('__auth', JSON.stringify({
                            isLoggedIn: true,
                            user: response.user.login,
                            accessToken: response.accessToken
                        }))
                    }
                }
                else {
                    alert(`Login yoki parol xato! \nQaytadan kitirib ko'ring.`)
                }
            }
            catch(e) {
                console.log(e);
                alert(e)
            }
        });

    </script>
</body>
</html>