<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%=site_host%>/stylesheets/successful.css">
    <title>Successful</title>
</head>
<body>
    <h2>Muvaffaqiyatli yaratildi</h1>
    <a class="go_home" href="<%= url %> ">
        <img src="<%=site_host%>/images/pngwing.png" width="30" height="30" alt="">
        <span>Go Home</span>
    </a>
</body>
</html>